.DS_Store
.idea
*.log
tmp/

*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache
.emacs_from_scratch_drrcool/eln-cache/30.0.50-e82136db
.emacs_from_scratch_drrcool/elpa
.emacs_from_scratch_drrcool/straight
.emacs_from_scratch_drrcool/transient
.emacs_from_scratch_drrcool/org-roam.db
.emacs_from_scratch_drrcool/init.el
.emacs_from_scratch_drrcool/.extension/vscode/ms-vscode.node-debug2
.emacs_from_scratch_drrcool/emojis/emojione-v2.2.6-22
.emacs_from_scratch_drrcool/request
.emacs_from_scratch_drrcool/var
.emacs_from_scratch_drrcool/bookmarks~
