snippet #!
	#!/bin/sh
	
snippet bash
	#!/usr/bin/env bash
	
snippet if
	if [ $1 ]; then 
		${0:${VISUAL}}
	fi

snippet elif
	elif [ $1 ]; then
		${0:${VISUAL}}

snippet for
	for (( ${2:i} = 0; $2 < ${1:count}; $2++ )); do
		${0:${VISUAL}}
	done
	
snippet fori
	for ${1:needle} in ${2:haystack} ; do
		${0:${VISUAL}}
	done

snippet wh
	while [ $1 ]; do
		${0:${VISUAL}}
	done

